[Unit]
Description=OMERO.web
# Not mandatory, Nginx may be running on a different server
#Requires=nginx.service
After=network.service

[Service]
User={{ omero_web_system_user }}
Type=forking
PIDFile={{ omero_web_basedir }}/{{ omero_web_symlink }}/var/django.pid
Restart=no
RestartSec=10
ExecStart={{ omero_web_basedir }}/{{ omero_web_symlink }}/bin/omero web start
ExecStop={{ omero_web_basedir }}/{{ omero_web_symlink }}/bin/omero web stop

[Install]
WantedBy=multi-user.target
